engine-strict=true
auto-install-peers=true
shamefully-hoist=true
registry=https://registry.npmmirror.com
# 发布配置
publish-branch=main
git-checks=false
strict-peer-dependencies=false
publish-config.access=public
publish-config.registry=https://registry.npmmirror.com
package-manager-strict=false