auto-install-peers=true
# `shamefully-hoist=false` 表示不启用无耻提升。在 pnpm 中，无耻提升是一种将依赖项直接放置到 node_modules 的根目录的行为，以模拟传统 npm 或 yarn 的行为。设置为 false 时，pnpm 将尽可能保持依赖项的严格分层，以避免潜在的版本冲突。
registry=https://registry.npmmirror.com
# 发布配置
publish-branch=main
git-checks=false
publish-config.access=public
publish-config.registry=https://registry.npmjs.org
package-manager-strict=false
link-workspace-packages=true
#node-linker=hoisted
